body {
	background: black;
}
.postcard {
	background: white;
	width: 450px;
	height: 300px;
	margin: auto;
    padding: 10px;
}
.header {
	display: flex;
    align-items: center;
}
.postcard-header-title {
	width: 400px;
	margin-top: 10px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
}
input {
	font-size: large;
    border-top: none;
    border-left: none;
    border-right: none;
}
p {
	font-size: medium;
	color: black;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: gainsboro;
	padding: 5px;
}
img {
    width: 50px;
    height: 50px;
}
.body-left {
    display: flex;
    flex-direction: column;
}
